*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 65px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 40px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #da8800;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Agrandir", sans-serif;;
}

.left {
    height: 100%;
    width: 40%;
    text-align: center;
    background: #0e0704;
    box-sizing: border-box;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo-holder{
    margin-top: 10%;
    width: 40%;
    height: 100%;
}

.logo-photo{
    width: 100%;
}


.slogan-contato{
    margin-bottom: 150px;
}


.right {
    width: 60%;
    height: 100%;
    padding: 60px;
    color: white;
    position: relative;
}

.form-title{
    margin-top: 5%;
}

form {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select {
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.row input{
    flex: 1;
}

.checkbox-row {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.checkbox-row input {
    width: auto;
    margin-right: 10px;
}

.login {
    margin-top: 20px;
    font-size: 16px;
}

.login a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

button {
    padding: 15px;
    border: 1px solid white;
    border-radius: 12px;
    font-size: 22px;
    background: transparent;
    color: white;
    cursor: pointer;
    width: 200px;
    margin-left: auto;
}