
    .container{
        width: 80vw;
        height: 80vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;  /* centraliza horizontal e vertical */
        
        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .left {
        width: 50%;
        height: 100%;
        background: #f7b733;
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        position: relative;
        border-top-left-radius: 30px;
    } 

    .right {
        width: 50%;
        height: 100%;
        background: #0b8f2d;
        padding: 60px;
        box-sizing: border-box;
        color: white;
        position: relative;
        border-bottom-right-radius: 30px;
    }

    .left h1 {
        font-size: 50px;
        margin: 0;
        font-weight: 700;
    }

    .left p {
        font-size: 24px;
        margin-top: 5px;
    }

    .left img {
        width: 80%;
        margin-top: 40px;
        border-radius: 20px;
    }

    .column {
        width: 80px;
        background: url('COLUMN_PLACEHOLDER') no-repeat center/cover;
    }

    h2 {
        font-size: 40px;
        margin: 0;
    }

    h3 {
        font-size: 26px;
        margin-top: 5px;
        font-weight: 400;
    }

    form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    input, select {
        padding: 12px;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        width: 100%;
    }

    .row {
        display: flex;
        gap: 15px;
    }

    .checkbox-row {
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .checkbox-row input {
        width: auto;
        margin-right: 10px;
    }

    .login {
        margin-top: 20px;
        font-size: 16px;
    }

    .login a {
        color: #ffffff;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }

    button {
        padding: 15px;
        border-radius: 12px;
        font-size: 22px;
        background: white;
        color: #0b8f2d;
        border: none;
        cursor: pointer;
        width: 200px;
        margin-left: auto;
    }

    .plate-img{
        width: 100%;
        clip-path: inset(0 0 20% 20%); 
        border-radius: 20px;
    }