*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 65px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 40px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #da8800;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Agrandir", sans-serif;;
}

.left {
    height: 100%;
    width: 40%;
    text-align: center;
    background: #0e0704;
    box-sizing: border-box;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo-holder{
    margin-top: 10%;
    width: 40%;
    height: 100%;
}

.logo-photo{
    width: 100%;
}


.slogan-contato{
    margin-bottom: 150px;
}


.right {
    width: 60%;
    height: 100%;
    padding: 60px;
    color: white;
    position: relative;
}

.form-title{
    margin-top: 5%;
}

form {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select {
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.row input{
    flex: 1;
}

.checkbox-row {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.checkbox-row input {
    width: auto;
    margin-right: 10px;
}

.login {
    margin-top: 20px;
    font-size: 16px;
}

.login a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.btn-group{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.btn-premium{
    font-size: 24px;
    width: 150px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 14px;
    color: white;
    font-size: 15px;
    line-height: 15px;
    background: none;
    touch-action: manipulation;
}

.btn-premium:hover{
    color: white;
    background-color: none;
}

.btn-premium span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
}

.btn-premium span:last-child {
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    height: 14px;
    line-height: 13px;
    white-space: nowrap;
}

.btn-premium:after {
    content: "";
    color: black;
    border: none;
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.btn-premium:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
    color: black;
}

.btn-premium:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
    color: black;
}

.btn-premium{
    text-decoration: none;
}

.link-to-cadastro{
    color: white;
    margin-top: 30vh;
}

.link-to-cadastro a{
    color: white;
}