 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
@font-face {
    font-family: 'Agrandir';
    src: url('fonts/Agrandir-Font-Family/Agrandir-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('fonts/Agrandir-Font-Family/Agrandir-TextBold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

 .agrandir-thin {
  font-family: "Agrandir", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.agrandir-extralight {
  font-family: "Agrandir", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.agrandir-light {
  font-family: "Agrandir", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.agrandir-regular {
  font-family: "Agrandir", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.agrandir-medium {
  font-family: "Agrandir", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.agrandir-semibold {
  font-family: "Agrandir", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.agrandir-bold {
  font-family: "Agrandir", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.agrandir-extrabold {
  font-family: "Agrandir", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.agrandir-black {
  font-family: "Agrandir", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.agrandir-thin-italic {
  font-family: "Agrandir", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.agrandir-extralight-italic {
  font-family: "Agrandir", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.agrandir-light-italic {
  font-family: "Agrandir", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.agrandir-regular-italic {
  font-family: "Agrandir", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.agrandir-medium-italic {
  font-family: "Agrandir", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.agrandir-semibold-italic {
  font-family: "Agrandir", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.agrandir-bold-italic {
  font-family: "Agrandir", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.agrandir-extrabold-italic {
  font-family: "Agrandir", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.agrandir-black-italic {
  font-family: "Agrandir", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.t-white{
  color: white;
}

.a-white{
  color: white;
  text-decoration: underline;
  font-family: "Agrandir", sans-serif;
  font-weight: 300;
}

.t-justified{
  text-align: justify;
}

.fs-s{
  font-size: smaller;
}

.fs-sm{
  font-size: small;
}

.fs-m{
  font-size: medium;
}

.fs-mx{
  font-size: large;
}

.fs-x{
  font-size: larger;
}