*{
    padding: 0;
    margin: 0;
}

.first-section{
    height: 100vh;
    width: 100%;
    padding-top: 60vh;
    background-image: url("../images/first-section-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    position: absolute;
    padding: 2rem;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease, padding 0.3s ease;
    z-index: 1000;
}

#navbar.scrolled {
    position: fixed;
    background-color: #000;
    padding: 10px 40px;
}


nav a{
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

nav a:hover{
    text-decoration: underline;
    
}

.nav-title{
    font-size: 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    font-weight: 700;
}

.menu {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.btn-group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-cadastro{
    font-size: 18px;
    width: 150px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 14px;
    color: white;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    background: none;
    touch-action: manipulation;
    flex-shrink: 0;
}

.btn-cadastro:hover{
    color: white;
    background-color: none;
}

.btn-cadastro span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
}

.btn-cadastro span:last-child {
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    height: 14px;
    line-height: 13px;
    white-space: nowrap;
}

.btn-cadastro:after {
    content: "";
    color: black;
    border: none;
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.btn-cadastro:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
    color: black;
}

.btn-cadastro:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
    color: black;
}

.btn-cadastro{
    text-decoration: none;
}

.title{
    font-size: 43px;
}

.sub-title-container{
    height: 30vh;
    width: 30vw;
    text-align: justify;
}

.second-section{
    padding: 5rem;
    width: 100%;
    height: 100vh;
    background-image: url("../images/second-section-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us-title{
    color: #da5500;
    display: flex;
    align-items: center;
}

.aboutus-text{
    width: 65%;
    height: 25vh;
    font-size: 18px;
}

.our-mission-title{
    margin-top: 100px;
    width: 100%;
    color: #da8800;
    display: flex;
}

.our-mission-text{
    width: 65%;
    height: 25vh;
    font-size: 18px;
}

.third-section{
    padding: 5rem;
    width: 100%;
    height: 101vh;
    background-image: url("../images/third-section-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.politics-text-holder{
    width: 65%;
    height: 25vh;
    font-size: 18px;
}

/*Margin top*/
.mt-s{
    margin-top: 5%;
}

.mt-sm{
    margin-top: 7.5%;
}

.mt-m{
    margin-top: 10%;
}

.mt-ml{
    margin-top: 12.5%;
}

.mt-l{
    margin-top: 15%;
}

/*Margin left*/
.ml-s{
    margin-left: 5%;
}

.ml-sm{
    margin-left: 7.5%;
}

.ml-m{
    margin-left: 10%;
}

.ml-ml{
    margin-left: 12.5%;
}

.ml-l{
    margin-left: 15%;
}

/*Margin right*/
.mr-s{
    margin-right: 5%;
}

.mr-sm{
    margin-right: 7.5%;
}

.mr-m{
    margin-right: 10%;
}

.mr-ml{
    margin-right: 12.5%;
}

.mr-l{
    margin-right: 15%;
}
