*{
    padding: 0;
    margin: 0;
}

nav {
    background: #0E8A1F;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    font-weight: 700;
}

.menu {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.btn-login {
    border: 2px solid white;
    padding: 10px 28px;
    border-radius: 14px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

    /* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 70px 60px;
    background: url('https://i.imgur.com/AWb9dY3.png'); /* padrão de bolinhas (placeholder) */
    background-size: 280px;
    background-repeat: repeat;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 54px;
    color: #F2B325;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero-text p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 550px;
}

.hero img {
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
}

footer{
    height: 300px;
    width: 100%;
    background-color: #167421;
}

.first-section{
    height: 75vh;
    width: 60%;
}

.second-section{
    width: 100%;
    height: 100vh;
    background-color: #4d4c4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section{
    width: 100%;
    height: 100vh;
    background-color: #cfbf61;
}

.box-1{
    width: 50%;
    height: 100%;
    color: white;
    background-color: #268a82;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2{
    width: 50%;
    height: 100%;
    color: white;
    background-color: #268a32;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-box-1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-box-2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cadastro{
    border-radius: 15px;
    height: 5vh;
    width: 7vw;
    border: none;
}

.formulario input{
    height: 200px;
}

.title{
    font-size: 70px;
}

.sub-title{
    font-size: 60px;
}

/*Margin top*/
.mt-s{
    margin-top: 5%;
}

.mt-sm{
    margin-top: 7.5%;
}

.mt-m{
    margin-top: 10%;
}

.mt-ml{
    margin-top: 12.5%;
}

.mt-l{
    margin-top: 15%;
}

/*Margin left*/
.ml-s{
    margin-left: 5%;
}

.ml-sm{
    margin-left: 7.5%;
}

.ml-m{
    margin-left: 10%;
}

.ml-ml{
    margin-left: 12.5%;
}

.ml-l{
    margin-left: 15%;
}