*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    padding: 0px;
}

header{
    background-color: #167421;
    min-height: 15vh;
    width: auto;
    padding-left: 10px;
    color: white;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    height: 300px;
    width: 100%;
    background-color: #167421;
}

.first-section{
    height: 75vh;
    width: 60%;
}

.second-section{
    width: 100%;
    height: 30vh;
    background-color: #4d4c4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section{
    width: 100%;
    height: 40vh;
    background-color: #cfbf61;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1{
    width: 50%;
    height: 100%;
    color: white;
    background-color: #268a82;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2{
    width: 50%;
    height: 100%;
    color: white;
    background-color: #268a32;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-box-1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-box-2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cadastro{
    border-radius: 15px;
    height: 5vh;
    width: 7vw;
    border: none;
}

.formulario input{
    height: 200px;
}

.title{
    font-size: 70px;
}

.sub-title{
    font-size: 60px;
}

/*Margin top*/
.mt-s{
    margin-top: 5%;
}

.mt-sm{
    margin-top: 7.5%;
}

.mt-m{
    margin-top: 10%;
}

.mt-ml{
    margin-top: 12.5%;
}

.mt-l{
    margin-top: 15%;
}

/*Margin left*/
.ml-s{
    margin-left: 5%;
}

.ml-sm{
    margin-left: 7.5%;
}

.ml-m{
    margin-left: 10%;
}

.ml-ml{
    margin-left: 12.5%;
}

.ml-l{
    margin-left: 15%;
}