body{
    overflow: hidden;
}

.navbar{
    display: flex;
    padding: 2.5rem;
    height: 10vh;
    width: 100%;
    background-color: #da8800;
    color: white;
}

.btn-group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-premium{
    font-size: 18px;
    width: 150px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 14px;
    color: white;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    background: none;
    touch-action: manipulation;
    flex-shrink: 0;
}

.btn-premium:hover{
    color: white;
    background-color: none;
}

.btn-premium span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
}

.btn-premium span:last-child {
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    height: 14px;
    line-height: 13px;
    white-space: nowrap;
}

.btn-premium:after {
    content: "";
    color: black;
    border: none;
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.btn-premium:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
    color: black;
}

.btn-premium:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
    color: black;
}

.btn-premium{
    text-decoration: none;
}

.card{
    height: 20vh;
    width: 10vw;
    margin-right: 10px;
}
