body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    width: vw;
}
.informacao{
    height: 30px;
    display: flex;
    flex-direction: column;
    width: 200px; /* largura dos campos */
    gap: 20px;
    padding-top: 200px;
}
.titulo{
    position: relative;
    top: 170px;
    font-size: 60px;
}
.formulario input{
    height: 200px;
}